
.title {
    font-family: Arial;
    font-weight: bold;
    font-size: 56px;
    text-align: center;
}

.egg-instagram {
    width: 250px;
    margin-left: 835px;
}

.egg-instagram-caption {
    text-align: center;
    font-style: italic;
}

.rickroll {
    margin-left: 1780px;
    font-size: 5px;
    color: rgb(33, 126, 197);
    cursor: pointer;
}
.rickroll:hover {
    text-decoration: underline;
}

.rickroll:active {
    color: rgb(35, 82, 117);
}

.vote-eggs {
    font-size: 100px;
    text-align: center;
    cursor: pointer;
}